.featured-courses {
    padding: 2rem;
  }
  
  .featured-title {
    /* font-size: 2.5rem; */
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .featured-description {
    /* font-size: 1rem; */
    color: #555;
    margin-bottom: 2rem;
  }
  
  .feature-courses-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .course-card {
    display: flex;
    background: #fff;
    /* border-radius: 8px; */
    border: 0.1px solid #dfdddd;
    overflow: hidden;
    transition: transform 0.3s;
    height: 180px;
  }
  .course-card:hover {
    display: flex;
    background: #fff;
    /* border-radius: 8px; */
    overflow: hidden;
    transition: transform 0.3s;
    height: 180px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
  }
  .course-card-top{
     display: flex;
     justify-content: space-between;
  }

  
  .course-image {
    width: 40%;
    height: 180px;
    object-fit: cover;
  }
  
  .course-info {
    padding: 1rem;
  }
  
  .course-tag {
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    background: #6c757d;
    padding: 0.2rem 0.6rem;
    /* border-radius: 4px; */
    margin-bottom: 0.5rem;
  }
  
  .health-&-fitness {
    background: #28a745;
  }
  
  .personal-development {
    background: #f8c471;
  }
  
  .productivity {
    background: #007bff;
  }
  
  .music {
    background: #ff6347;
  }
  
  .course-title {
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  .course-title:hover{
    font-weight: bold;
    margin: 0;
    color: #ff3333;
  }
  
  .course-instructor {
    font-size: 0.9rem;
    color: #777;
  }
  
  .course-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #888;
    margin: 0.5rem 0;
    align-items: center;
  }
  
  .course-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .course-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
  }
  
  
  
  .old-price {
    text-decoration: line-through;
    color: #888;
  }
  