#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;      
    align-items: center;
    padding: 100px;
}
.footer-left{
    display: flex;
    flex-direction: column;
}
.footer-left-buttons{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.footer-left button{
    padding: 10px;
    background-color: rgb(255, 64, 0);
    width: 150px;
    color: white;
    border: none;
}
.footer-right{
     display: flex;
     justify-content: space-between;
     gap: 20px;
}