*{
  font-family: Inter;
}
nav {
  display: flex;
  width: Fixed (1, 920px) px;
  height: Hug (52px) px;
  padding: 0px 32px 0px 32px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;

  background-color: #1d2026;
  color: #ffffff;
  font-family: Inter;
  padding: 20px;
}
.nav-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-right {
  /* styleName: Body Medium/500; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* letter-spacing: -0.01em; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Navbar End */

/* top-bar start */
#top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: rgb(254, 254, 254);
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0px;
}
.top-bar-left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.top-bar-left input, select {
  padding: 8px;
}
.top-bar-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.top-bar-right button{
   padding: 8px 16px;
   border: none;
   color: orange;
   background-color: #f7e3e3;
   font-weight: 500;

}
.top-bar-right .btn-primary{
  background-color: #f15a24;
  color: #fff;
  border: none;
}


/* top bar end */
/* Hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 50px;
  background-color: rgb(250, 252, 251);
}

.hero-section img {
  max-width: 600px;
}

.hero-section p {
  margin: 20px 0;
  color: #7c7c7c;
  font-size: 1.2rem;
}

.hero-section button {
  background-color: #f15a24;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}


.hero-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  line-height: 1.2;
}

.hero-section div {
  max-width: 600px;
}
/* Hero section end */

/* Browse Tabs Start */
/* #container-tutor{
    
} */
 #browse-top-category{
   padding-top: 40px;
 }
.category-tabs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  margin-right: 160px;
  margin-left: 160px;
  margin-bottom: 17px;
}
#browse-top-category .heading{
    text-align: center;
    padding-bottom: 6px;
}
.category-tabs .category-tab {
       background-color: #E1F7E3; 

       padding: 13px;
       display: flex;
       /* justify-content: space-around; */
       align-items: center;
       gap: 10px;
     /* height: 75px; */
     width: 200px;
     font-size: 12px;
}

.category-logo-div{
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.category-card-right p{
   font-weight: 500;
   margin-bottom: 7px;
   margin-top: 2px;
}
.category-card-right span{
  margin-top: 0;
   color: grey;
   margin-bottom: 12px;
   padding-bottom: 3px;
}



.browse-more{
  text-align: center;
  display: flex;
  justify-content: center;
}
.browse-more button{
    padding: 5px;
    border: none;
    color: orange;
    background-color: #fff;
    font-weight: bold;
}
/* Browse Tabs End */

/* Instructor section start */
